@import 'compass/reset';
@import 'compass/utilities';
@import 'compass/css3';

$blue: #4096EE;

@mixin neue {
  font-family: "helvetica neue", Helvetica, arial, sans-serif;
}
@mixin amp {
  font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
}
@mixin rgba($r, $g, $b, $opacty) {
  /* Fallback for web browsers that doesn't support RGBa */
	background: rgb($r, $g, $b);
	/* RGBa with 0.6 opacity */
	background: rgba($r, $g, $b, $opacty);
	/* For IE 5.5 - 7*/
//	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
//	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
  
}
::-webkit-scrollbar-track {
  background: #eaeaea;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
  @include border-radius(6px); 
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  @include border-radius(6px);
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #ccc;
    width: 150px;
    height: 10px;
    @include border-radius(5px);
    @include box-shadow(#222, 0, 2px, 5px, 0, inset);
    margin-top: 1px !important;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    //@include border-radius(8px);
    //@include linear-gradient(color-stops($blue, darken($blue, 10%)));
    background: image-url('slider-thumb.png') no-repeat;
    width: 21px;
    height: 21px;
}