@import 'base';

body {
  @include neue;
  background: #efefef url('/images/noise-lt.jpg') repeat;
  margin: 0;
}
p {
  margin: 5px 0 10px;
}
strong {
  font-weight: bold;
}
#logo img {
  margin-top: 20px; 
}

#tagline {
  display: block;
  text-align: center;
  margin: 10px 0;
  color: #bbb;
  font-size: 10px; 
}

.amp {
  @include amp;
  font-size: 110%;
  font-style: italic;
}

a {
  color: $blue;
  img {
    border: 0; 
  } 
}

#header {
  position: relative;
  z-index: 13;
  @include linear-gradient(color-stops(#ddd, #aaa));
  @include box-shadow(#666, 0, 2px, 5px);
  text-shadow: 0 1px 1px #eaeaea;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #777;
  @include clearfix;
  a {
    text-decoration: none;
    color: black;
  }
  h1 {
    font-weight: bold;
    padding: 0 30px;
    font-size: 18px;
    float: left;
    a {
      padding: 10px 0;
      color: black;
      @include inline-block;
    }
  }
  nav{
    float: left;
    margin-top: 5px;
    a {
      padding: 6px 11px;
      @include inline-block;
      &:hover{
        @include box-shadow(#555, 0, 0, 3px, 0, inset);
        //@include linear-gradient(color-stops(#aaa, #ddd));
        background: #ddd;
        border-bottom: 1px solid #bbb;
        @include border-radius(3px);
      }
    }
  }
}

.toolbar {
  width: 230px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  a {
    padding: 2px 5px;
    font-size: 15px;
    text-decoration: none;
    &:hover {
      text-decoration: underline; 
    } 
  } 
}

.button, .ui-button {
  padding: 4px 8px;
  cursor: pointer;
  font-size: 13px;
  color: #000;
  line-height: 18px;
  @include border-radius(3px);
  @include linear-gradient(color-stops(#ddd, #aaa));
  @include box-shadow(#333, 0, 2px, 4px);
  text-shadow: 0 1px 1px #fff;
  text-decoration: none;  
  @include inline-block;
  margin: 3px;
  &:active {
    position: relative;
    top: 1px;
    background: #ddd;
  }
  &.action, &.ui-state-active {
    font-weight: bold;
    @include linear-gradient(color-stops(#268acd, #0076c4));
    text-shadow: 0 -1px 1px #00558d;
    color: white;
    &:active {
      background: #268acd;
    }
  }
}

#main {
  position: relative;
  width: 350px;
  margin: 40px auto;
  #nav {
    z-index: 2;
    position: absolute;
    right: 0px;
    .nav-button {
      @include border-radius(2px);
      width: 32px;
      height: 32px;
      display: block;
      text-indent: -9999px;
    }
    #my_url {
      background: image-url('girl.png') no-repeat center;
    }
    #my_settings {
      background: image-url('gear.png') no-repeat center;
    }
  }
  #hatch {
    position: relative;
    z-index: 5;
  } 
}

#hatch {
  width: 240px;
  background: white;
  margin: 0 auto;
  padding: 20px;
  @include border-radius(3px);
  @include box-shadow(#888, 0, 0, 5px);
  input {
    width: 225px;
    font-size: 20px;
    padding: 5px;
    @include border-radius(2px);
    border: 2px solid silver;
    background: white;
    margin: 2px 0;
    color: #555;
    &:focus {
      border-color: #0096ce;
      outline: 0;
      color: #222; } }
  label {
    display: block;
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px; }
  ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  li {
    margin-top: 10px; } }

input#secure {
  border-color: #efefef;
  &:focus {
    border-color: #99cc33; } }

.clearinput {
  cursor: pointer;
  background: #efefef;
  padding: 2px 8px 4px 8px;
  @include border-radius(4px);
  color: gray;
  float: right;
  position: relative;
  margin-top: -33px;
  margin-right: 8px;
  text-decoration: none;
  display: none;
  &:hover {
    background: #ddd; } }

/* SETTINGS
----------------------------------*/

.panel {
  @include box-shadow(#333, 0, -2px, 5px, 0, inset);
  background: #444 url('/images/noise-dk.jpg') repeat;
  border-bottom: 1px solid #222;
  color: #efefef;
  position: relative;
  top: 0;
  left: 0;
  overflow: auto;
  padding: 20px;
  display: none;
  font-size: 14px;
  form {
    @include clearfix;
  }
  label {
    padding: 5px; }
  input {
    float: right;
    margin: 3px 0;
    &[type="text"] {
      width: 50px;
      border: none;
      background: transparent;
      border-bottom: 1px solid #666;
      outline: 0;
      text-align: right;
      color: white;
      padding: 2px; 
      font-weight: bold;
    } 
  }
  li {
    margin: 5px 0; }
  h2 {
    display: none;
    float: left;
    width: 200px; }
  .info {
    display: none; } }


.panel {
  #settings {
    @include clearfix;
    max-width: 345px;
    margin: 0 auto;
    ul {
      float: left;
      width: 150px;
      min-height: 70px;
      margin: 0;
      padding: 0;
      list-style: none;
        margin-right: 20px;
        padding-right: 20px;
    //  border-right: 1px dotted #666;
      &.last {
        margin-right: 0;
        padding-right: 0;
        border: none; 
      }  
    } 
  }
  #my_key {  
    max-width: 300px;
    margin: 0 auto;
    @include clearfix;
    .message {
      margin: 5px 0;
      padding: 3px 10px;
    }
    nav {
      text-align: center;
    }
  }
  
}

/* HELP
----------------------------------*/

#help {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
  display: none;
  > table {
    padding: 40px;
    margin: 60px auto;
    background: rgba(0, 0, 0, 0.85);
    @include border-radius(5px);
  }
  th {
    color: #efefef;
    padding: 5px;
    margin: 0;
    border-bottom: 1px dotted #efefef; }
  td {
    color: #efefef;
    padding: 10px;
    &:first-child {
      font-weight: bold;
      color: #cebb26; } } }

/* HELP
----------------------------------*/
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }