@import 'base';

body {
  @include neue;
  background: #efefef image-url('noise-lt.jpg') repeat;
  margin: 0;
}
p {
  margin: 5px 0 10px;
}
strong {
  font-weight: bold;
}
#logo img {
  margin-top: 20px; 
}

#tagline {
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 10px 0;
  color: #bbb;
  font-size: 10px; 
  .kb {
    margin-top: -4px;
  }
  &:hover {
    color: #888;
  }
}

.amp {
  @include amp;
  font-size: 110%;
  font-style: italic;
}
.close {
  cursor: pointer;
}

a {
  color: $blue;
  img {
    border: 0; 
  } 
}

#header {
  position: relative;
  z-index: 13;
  @include background-image(linear-gradient(#dcdce1, #bec3c8));
  @include box-shadow(#999 0 2px 5px);
  text-shadow: 0 1px 1px #eaeaea;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #99a1a9;
  @include clearfix;
  a {
    text-decoration: none;
    color: black;
  }
  h1 {
    font-weight: bold;
    padding: 0 30px;
    font-size: 18px;
    float: left;
    a {
      padding: 10px 0;
      color: black;
      @include inline-block;
    }
  }
  nav{
    float: left;
    margin-top: 5px;
    a {
      padding: 6px 11px;
      @include inline-block;
      &:hover{
        @include box-shadow(#555 0 0 3px 0 inset);
        //@include linear-gradient(color-stops(#aaa, #ddd));
        background: #eee;
        border-bottom: 1px solid #bbb;
        @include border-radius(3px);
      }
    }
  }
}

.toolbar {
  width: 230px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  a {
    padding: 2px 5px;
    font-size: 15px;
    text-decoration: none;
    &:hover {
      text-decoration: underline; 
    } 
  } 
}

.button {
  padding: 4px 8px;
  font-size: 13px;
  color: #000;
  line-height: 18px;
  @include border-radius(3px);
  @include background-image(linear-gradient(#ddd, #aaa));
  @include box-shadow(#333 0 2px 4px);
  text-shadow: 0 1px 1px #fff;
  text-decoration: none;  
  @include inline-block;
  margin: 3px;
  border: none;
  &:active {
    position: relative;
    top: 1px;
    background: #ddd;
  }
  &.action {
    font-weight: bold;
    @include background-image(linear-gradient(#268acd, #0076c4));
    text-shadow: 0 -1px 1px #00558d;
    color: white;
    &:active {
      background: #268acd;
    }
  }
}

#main {
  position: relative;
  width: 350px;
  margin: 40px auto;
  #nav {
    z-index: 15;
    position: absolute;
    right: 0px;
    .nav-button {
      @include border-radius(2px);
      width: 32px;
      height: 32px;
      display: block;
      text-indent: -9999px;
    }
    #my_url {
      background: image-url('girl.png') no-repeat center;
    }
    #my_settings {
      background: image-url('gear.png') no-repeat center;
    }
  }
  #hatch {
    position: relative;
    z-index: 5;
  } 
}

#hatch {
  width: 240px;
  background: white;
  margin: 0 auto;
  padding: 20px;
  @include border-radius(3px);
  @include box-shadow(#888 0 0 5px);
  #saved_domains {
    @include box-sizing('border-box');
    position: absolute;
    display: none;
    background: #fff;
    padding: 3px;
    @include box-shadow(#666 0 0 4px 0);
    width: 240px;
    li {
      color: #333;
      cursor: pointer;
      padding: 5px;
      margin: 0;
      &:hover {
        background: #eee;
        color: #111;
      }
    }
  }
  input {
    @include box-sizing('border-box');
    width: 240px;
    font-size: 20px;
    padding: 5px;
    @include border-radius(2px);
    border: 2px solid silver;
    background: white;
    margin: 2px 0;
    color: #555;
    &#domain, &#master {
      padding-right: 40px;
    }
    &:focus {
      border-color: #0096ce;
      outline: 0;
      color: #222; } }
  label {
    display: block;
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px; }
  ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  li {
    margin-top: 10px; } }

input#secure {
  border-color: #efefef;
  &:focus {
    border-color: #99cc33; } }

.clearinput {
  cursor: pointer;
  background: #efefef;
  padding: 2px 8px 4px 8px;
  @include border-radius(4px);
  color: gray;
  float: right;
  position: relative;
  margin-top: -33px;
  margin-right: 8px;
  text-decoration: none;
  display: none;
  &:hover {
    background: #ddd; } }

/* SETTINGS
----------------------------------*/

.panel {
  @include box-shadow(#333 0 -2px 5px 0 inset);
  background: #444 image-url('noise-dk.jpg') repeat;
  border-bottom: 1px solid #222;
  color: #efefef;
  position: relative;
  top: 0;
  left: 0;
  @include pie-clearfix;
  padding: 20px;
  display: none;
  font-size: 14px;
  form {
    @include clearfix;
    width: 183px;
    margin: 0 auto;
    input {
      &[type="text"], &[type="password"] {
        @include border-radius(2px);
        background: white;
        margin: 2px 0;
        padding: 6px;
        border: 1px solid #222;
        @include box-shadow(#333 0 2px 4px);
        float: left;
        &:focus {
          border-color: #0096ce;
          outline: 0;
          color: #222; 
        } 
      }
    }
  }
  label {
    padding: 5px; 
  }
  .hint {
    text-transform: none;
    letter-spacing: 0;
    color: #CCC;
    margin: 0 10px;
    text-shadow: 0 -1px 1px #222;
  }
  input {
    float: right;
    margin: 3px 0;
    &[type="text"] {
      width: 50px;
      border: none;
      background: transparent;
      border-bottom: 1px solid #666;
      outline: 0;
      text-align: right;
      color: white;
      padding: 2px; 
      font-weight: bold;
    } 
  }
  h2 {
    display: none;
    float: left;
    width: 200px; }
  .info {
    display: none; } }


.panel {
  #settings {
    @include clearfix;
    max-width: 300px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    ul {
      @include clearfix;
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        label {
          cursor: pointer;
          padding: 10px;
          @include border-radius(20px);
          display: block;
          text-shadow: 0 -1px 1px #111;
          &:hover {
            @include rgba(0, 0, 0, 0.1);
          }
        }
        &#length{

        }
        .range-val {
          float: right;
          margin-left: 4px;
          width: 14px;
          margin-top: -7px;
          padding: 6px 4px 6px 12px;
          text-align: right;
          font-weight: bold;
          color: #222;
          text-shadow: 0 1px 1px #fff;
          background: image-url('range-val.png') no-repeat;
        }
      }
      &.last {
        margin-right: 0;
        padding-right: 0;
        border: none; 
      }  
    } 
  }
  #my_key {  
    max-width: 300px;
    margin: 0 auto;
    @include clearfix;
    .message {
      margin: 5px 0;
      padding: 3px 10px;
    }
    nav {
      text-align: center;
    }
  }
  
}

span.toggle {
  display: block;
  float: right;
  width: 28px;
  height: 17px;
  background: image-url('toggle-switch.png') bottom no-repeat;
  margin-top: -3px;
  input[type="checkbox"] {
    visibility: hidden;
  }
  &.off {
    background-position: top;
  }
}

/* HELP
----------------------------------*/
.kb {
  border: 1px solid silver;
  @include border-radius(3px);
  padding: 3px 4px;
  min-width: 10px;
  text-align: center;
  @include inline-block;
}

#help {
  position: absolute;
  z-index: 20;
  width: 100%;
  left: 0;
  bottom: 0;
  background: white;
  padding: 20px 0;
  @include box-shadow(#ddd 0 -2px 5px);
  display: none;
  ul {
    padding: 0 20px;
    li {
      float: left;
      color: #666;
      font-size: 12px;
      margin-right: 20px;
      .kb {
        margin-top: -4px;
      }
    }
  }
}
