@import 'core';

.notice {
  width: 50%;
  margin: 15px auto;
  padding: 8px 35px 8px 14px;
  color: #C09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
}

/* ABOUT
----------------------------------*/

#about {
  width: 100%;
  line-height: 20px;
  .container {
    margin: 0 auto;
    padding: 20px;
    width: 40%;
    background: white;
    @include box-shadow(#888 0 0 5px);
    line-height: 20px; } }

/* FOOTER
----------------------------------*/

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 10px 0;
  font-size: 12px;
  color: gray;
  @include box-shadow(#888 0 0 5px);
  ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  li {
    float: left;
    margin: 0 20px; } }
