<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hatchpass</title>
  <link rel="icon" type="image/png" href="/images/favicon.png">	
  <link rel="stylesheet" href="/stylesheets/screen.css">
</head>
<body>
  <%= erb :_settings %>
  <span id="window-size"></span>
  <div class="toolbar">
      <h1><a id="logo" href="/<%= params[:key] %>" title=""><img src="/images/logo.png" alt="HatchPass"/></a></h1>
  </div>