<div id="help">
  <table>
    <tr>
      <td><span class="kb">Esc</span></td><td>Blur/Focus Inputs</td>
    </tr>
    <tr>
      <td><span class="kb">j</span></td><td>Settings</td>
    </tr>
    <tr>
      <td><span class="kb">k</span></td><td>My Key</td>
    </tr>
    <tr>
      <td><span class="kb">m</span></td><td>Focus master</td>
    </tr>
    <tr>
      <td><span class="kb">d</span></td><td>Focus domain</td>
    </tr>
    <tr>
      <td><span class="kb">h</span> or <span class="kb">/</span></td><td>Help</td>
    </tr>
  </table>
</div><!-- #help -->
