<div id="help" class="close" title="Click to hide">
  <ul>
    <li><span class="kb">Esc</span> Blur/Focus Inputs</li>
    <li><span class="kb">j</span> Settings</li>
    <li><span class="kb">k</span> My Key</li>
    <li><span class="kb">m</span> Focus master</li>
    <li><span class="kb">d</span> Focus domain</li>
    <li><span class="kb">h</span> or <span class="kb">/</span> Help</li>
  </ul>    
</div><!-- #help -->
