<div class="panel my_url">
  <section id="my_key">
    <nav>
      <a class="button " href="#new_key" id="new_key" >New Key</a>
      <a class="button action" href="#save_key" id="save_key">Save Key</a>
    </nav>
    
<!--
    <form action="fetch_key" method="post" accept-charset="utf-8">
      <input type="password" name="master" value="" placeholder="Master password">
      <input type="submit" value="Fetch" class="button">
    </form>
-->
  </section>    
</div>