<div class="panel my_url">
  <section id="my_key">
    <div class="message">

    </div>
    <nav>
      <a class="button " href="#new_key" id="new_key" >New Key</a>
      <a class="button action" href="#save_key" id="save_key">Save Key</a>
    </nav>
    
  </section>    
</div>