<div class="panel settings">
  <div id="settings">    
  	<h2>Variation</h2>
  	<ul>
  	  <li><label for="symbols">Symbols</label> <span class="toggle"><input id="symbols" type="checkbox" /></span></li>
  	  <li><label for="caps">Uppercase Letters</label> <span class="toggle"><input id="caps" type="checkbox" /></span></li>
  	  <li><label>Length</label> <input type="text" name="length" placeholder="Length" value="" id="length" ></li>
  	</ul>
  	
  	<h2>Algorithm</h2>
  	<ul class="rounded">
  	  <li>
  	    <label for="algorithm">Algorithm</label>
  	    <select name="algorithm" id="algorithm">
  	      <option value="default">Default</option>
  	      <option value="legacy">Legacy</option>
  	    </select>
  	  </li>
  	</ul>
  	
  	<h2>Remember</h2>
  	<ul class="rounded last">
  	  <li><label for="r_master">Remember master</label> <span class="toggle"><input id="r_master" type="checkbox"/></span></li>
  	  <li><label for="r_settings">Remember settings</label> <span class="toggle"><input id="r_settings" type="checkbox" /></span></li>
  	</ul>
  	
  	<div class="info">
      <p>
        Designed by <a href="http://nicinabox.com">Nic Haynes</a>
      </p>
      <p>Version 2.1b</p>
    </div>
  </div>
</div>