if defined?(Sinatra)
  # This is the configuration to use when running within sinatra
  project_path = Sinatra::Application.root
  environment = :development
  asset_cache_buster :none
else
  # this is the configuration to use when running within the compass command line tool.
  relative_assets = true
  environment = :production
  output_style = :compressed
  asset_cache_buster :none
end

# This is common configuration
css_dir = "/tmp/stylesheets"
sass_dir = File.join 'views', 'stylesheets'
images_dir = File.join 'public', 'images'
http_path = "/"
http_images_path = "/images"
http_stylesheets_path = "/stylesheets"
